<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johnny.kdsclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.TopicDetailActivity" />
        <activity android:name=".activity.ImageBrowserActivity" />
        <activity android:name=".activity.UserDetailActivity" />
        <activity android:name=".activity.WriteTopicActivity" />
        <activity
            android:name=".activity.ReplyTopicActivity"
            android:theme="@style/BaseAppTheme.NoActionBarDialog" />
        <activity android:name=".activity.DraftActivity" />
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AboutActivity" />

    </application>

</manifest>